.btnClose {
  background: url(/assets/close.svg) no-repeat center / cover;
  width: 24px;
  height: 24px;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalBox {
  background: var(--static-white);
  border-radius: 8px;
  min-width: 400px;
  max-width: 500px;
  padding: 20px 0;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--line-normal);
  font-size: 18px;
  position: relative;
}

.modalHeader .btnClose {
  position: absolute;
  right: 16px;
  top: 17px;
}

.modalHeader h3 {
  width: 100%;
  flex-shrink: 1;
  text-align: center;
  font-size: 18px;
}

.modalContent {
  padding: 0 16px 0 16px;
}

.submitBtn {
  margin: 20px 0;
}
