.sidebar {
  width: 220px;
  height: 100%;
  background-color: var(--bg-normal-alternative); /* TODO : 사이드바 배경색  */
  overflow: hidden;
}

.nav {
  padding: var(--spacing-20) var(--spacing-sm) 0 var(--spacing-20); /* top right bottom left */
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm); 
  padding: var(--spacing-10) var(--spacing-sm);
  color: var(--gray-g700); 
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  border-radius: var(--radius-sm-md);
  transition: background-color 0.2s;
}

.menuItem:hover,
.menuItem.active {
  background-color: var(--hover-normal);
  color: var(--gray-g900);
  font-weight: var(--font-weight-bold);
}

.section {
  margin-top: var(--spacing-lg);
}

.sectionTitle {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--gray-g600);
  margin-bottom: var(--spacing-xs);
  padding: 0 var(--spacing-sm);
}


.mainMenu {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.settingsSection {
  flex-shrink: 0; /* 축소 방지 */
  padding-bottom: var(--spacing-lg);
}
