.notificationModal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  transition: opacity 0.2s;
  cursor: pointer;
}

.notificationModal:hover {
  opacity: 0.8;
}

