.card {
  --scrollbar-padding: var(--spacing-5); /* 스크롤바 너비 고려 */
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  color: var(--gray-g800);
  margin: 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  padding: var(--spacing-10) var(--spacing-20) var(--spacing-12) var(--spacing-20);
}

.count {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  color: var(--blue-b500);
}

.header {
  display: flex;
  gap: var(--spacing-10);
  padding: var(--spacing-4) var(--spacing-16);
  border-bottom: 1px solid var(--line-neutral-16);
}

.headerLabel {
  font-size: var(--font-size-15);
  padding-top: var(--spacing-1);
  padding-left: var(--spacing-4);
  font-weight: var(--font-weight-semibold);
  color: var(--gray-g500);
}

.headerLabel:first-child {
  min-width: 60px;
}

.listWrapper {
  position: relative;
  padding-left: var(--spacing-20);
  margin-bottom: 44px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 157px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-g200) transparent;
}

.list::-webkit-scrollbar {
  width: 4px;
}


.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--gray-g200);
  border-radius: 2px;
}

.item {
  display: flex;
  gap: var(--spacing-10);
  padding: var(--spacing-10) 0;
  border-bottom: 1px solid var(--line-neutral-16);
}

.item:last-child {
  border-bottom: none;
}

.fadeOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: var(--scrollbar-padding);
  height: 50px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9));
  pointer-events: none;
  z-index: 1;
  margin-right: var(--scrollbar-padding);
}

.date {
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-regular);
  color: var(--gray-g800);
  min-width: 60px;
}

.content {
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-semibold);
  color: var(--gray-g800);
  flex: 1;
}
