.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* 세로 방향 */
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto; /* 세로 스크롤 */
}

