@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors - Gray Scale */
  --gray-white: #ffffff;
  --gray-g100: #f3f4f6;
  --gray-g150: #E7EAEF;
  --gray-g200: #E5E7EB;
  --gray-g300: #D2D5DA;
  --gray-g400: #9DA3AE;
  --gray-g500: #6C727F;
  --gray-g600: #4D5562;
  --gray-g700: #4b5563;
  --gray-g800: #212936;
  --gray-g900: #121826;

  /* Colors - Red Scale */
  --red-r400: #DA8845;
  --red-r500: #DD5D54;

  /* Static Colors */
  --static-white: #ffffff;

  /* Interaction Colors */
  --interaction-inactive: #989ba2;
  --interaction-disable: #f4f4f5;

  /* Line Colors */
  --line-neutral: #70737c;
  --line-neutral-16: rgba(112, 115, 124, 0.16);
  --line-neutral-22: rgba(112, 115, 124, 0.22);

  /* Primary Colors */
  --blue-b100: #eaebff;
  --blue-b400: #a0a5f0;
  --blue-b500: #646cf4;
  --blue-b700: #434ce8;

  /* Status Colors */
  --status-destructive: #ff2929;

  /* Background Colors */
  --bg-normal-normal-10: rgba(255, 255, 255, 0.8);
  --bg-normal-alternative: #f9fafb;
  --hover-normal: #f3f4f6;

  /* Label Colors */
  --label-normal: #171719;
  --label-strong: #000000;
  --label-neutral: rgba(46, 47, 51, 0.88);
  --label-alternative: rgba(55, 56, 60, 0.61);
  --label-assistive: rgba(55, 56, 60, 0.28);
  --label-disable: rgba(55, 56, 60, 0.16);

  /* Typography */
  --font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;

  /* Font Sizes */
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-26: 26px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-3: 3px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-13: 13px;
  --spacing-14: 14px;
  --spacing-15: 15px;
  --spacing-16: 16px;
  --spacing-17: 17px;
  --spacing-20: 20px;
  --spacing-23: 23px;
  --spacing-24: 24px;
  --spacing-28: 28px;

  /* Border Radius */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-9: 9px;
  --radius-12: 12px;
  --radius-24: 24px;
}
