.loginWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 152px;
}

.logo {
  margin: 0 auto 48px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.loginFormWrap {
  min-width: 336px;
}

.inputAssets {
  margin-bottom: 12px;
  position: relative;
}

.inputAssets label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.inputAssets input {
  width: 100%;
  padding: 12px 46px 12px 12px;
  border-radius: 6px;
  line-height: 22px;
  border: 1px solid var(--line-neutral-22);
}

.inputAssets input:focus {
  border-color: rgba(67, 76, 232, 0.43);
  outline: 2px solid rgba(67, 76, 232, 0.43);
}

.inputAssets input.input-error {
  border-color: rgba(255, 41, 41, 0.43);
  outline: 2px solid rgba(255, 41, 41, 0.43);
}

.inputAssets input::placeholder {
  color: var(--label-assistive);
}

.inputAssets button {
  position: absolute;
  right: 10px;
  top: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.loginBtnsWrap {
  margin-top: 20px;
}

.loginBtnsGroup {
  margin-top: 16px;
}

.loginCheckboxGroup {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 12px;
  gap: 16px;
}

.passwordResetBtn {
  color: var(--label-neutral);
  text-align: center;
  margin: 20px auto;
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}

.errorMessage {
  font-size: 13px;
  margin-top: 20px;
}
