.footerInquiry {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: var(--label-neutral);
}

.footerInquiry a {
  border-bottom: 1px solid var(--label-strong);
  color: var(--label-strong);
}
