.header {
  width: 100%;
  padding: 16px 20px 16px 20px;
  background-color: var(--color-header-bg);
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px; /* 아이콘과 텍스트 사이 간격 */
  text-decoration: none; /* 링크 밑줄 제거 */
  cursor: pointer; /* 커서 모양 */
}

.logoIcon {
  flex-shrink: 0; /* 공간이 부족해도 아이콘 크기 유지 */
}

.logoText {
  font-size: 20px;
  font-weight: 600;
  color: var(--static-white);
  font-family: var(--font-family);
}