.header {
  width: 100%;
  height: 60px;
  padding: 10px 24px;
  background-color: var(--gray-g600);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.userMenu {
  display: flex;
  align-items: center;
}

.userMenu {
  gap: 12px;
}
