.container {
  background-color: var(--gray-g100);
  min-height: 100vh;
  padding: var(--spacing-28) var(--spacing-24) 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--spacing-16);
  align-items: stretch;
  min-width: 0;
}

.summaryRow {
  grid-column: 1 / -1;
}

.main {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  min-width: 0;
}

.aside {
  grid-column: 4 / span 1;
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-15);
  min-width: 0;
}

.categoriesRow {
  grid-column: 1 / -1;
}
