.footerInquiry {
  position: absolute;
  bottom: 90px;
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: var(--label-neutral);
}

.footerInquiry a {
  border-bottom: 1px solid var(--label-strong);
  color: var(--label-strong);
}

.loginWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0 auto 48px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.loginFormWrap {
  min-width: 336px;
}

.loginBtnsWrap {
  margin-top: 20px;
}

.loginBtnsGroup {
  margin-top: 16px;
}

.loginCheckboxGroup {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 12px;
  gap: 16px;
}

.passwordResetBtn {
  color: var(--label-neutral);
  text-align: center;
  margin: 20px auto;
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}

.errorMessage {
  font-size: 13px;
  margin-top: 20px;
}
