.btnClose {
  background: url(/assets/close.svg) no-repeat center / cover;
  width: 24px;
  height: 24px;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalBox {
  background: var(--static-white);
  border-radius: 8px;
  min-width: 400px;
  max-width: 500px;
  padding: 20px 0;
}

.modalHeader {
  padding: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--line-neutral-22);
  position: relative;
}

.modalHeader .btnClose {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modalHeader h3 {
  width: 100%;
  flex-shrink: 1;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

.modalContent {
  padding: 0 16px;
}

.inputAssets {
  margin-bottom: 12px;
  position: relative;
}

.inputAssets label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.inputAssets input {
  width: 100%;
  padding: 12px 46px 12px 12px;
  border-radius: 6px;
  line-height: 22px;
  border: 1px solid var(--line-neutral-22);
}

.inputAssets input:focus {
  border-color: rgba(67, 76, 232, 0.43);
  outline: 2px solid rgba(67, 76, 232, 0.43);
}

.inputAssets input.input-error {
  border-color: rgba(255, 41, 41, 0.43);
  outline: 2px solid rgba(255, 41, 41, 0.43);
}

.inputAssets input::placeholder {
  color: var(--label-assistive);
}

.inputAssets button {
  position: absolute;
  right: 10px;
  top: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.modalContent .inputAssets {
  margin-bottom: 20px;
}

.submitBtn {
  margin: 20px 0;
}
