.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalBox {
  background: var(--static-white);
  border-radius: 8px;
  min-width: 400px;
  max-width: 500px;
}

.modalBox p {
  padding: 20px;
  text-align: center;
  font-size: 17px;
  line-height: 1.412;
  font-weight: 600;
}

.modalBox p span {
  color: var(--blue-b700);
}

.closeBtnWrap {
  padding: 20px;
}
